<h1>Edit merchant</h1>
<div class="container">
<form action="/merchants/<%= @merchant.id %>" method="post">
<div class="form">
  <span class="form-item">Merchant:</span>
   <input type="text" name="merchant_name" value="<%= @merchant.merchant_name() %>" >
 </div>
  <button class="button update" type='submit' value="Update">UPDATE</button>
 </form>
 </label>