<h1>View all Merchants.</h1>
<a href="/merchants/new">Add new Merchant</a>
<div class="container">
 <% for merchant in @merchants %>
 <a href="/merchants/<%= merchant.id%>">
 <div class="cell">
 <p>ID: <%= merchant.id %></p>
 <p>MERCHANT NAME <%= merchant.merchant_name %></p>
 </div>
 </a>
<%end%>
</div>