<h1>Create New Merchant</h1>
<div class="container">
<form action="/merchants/new" method="post">
  <label>
    Merchant Name
  <input type="text" name="merchant_name">
  </label>
<button class="button" type="submit" value="new merchant">SUBMIT</button>
</form>
</div>