<h1>Create New Merchant</h1>
<div class="container">
<form action="/merchants/new" method="post">
<div class="form">
  <span class="form-item">Merchant:</span>
  <input class="form-field" name="merchant_name">
</div>
<button class="submit_button button" type="submit" value="new merchant">SUBMIT</button>
</form>
</div>