<h1>Merchant Details</h1>
<div class="container">
<div class="cell">
<p><strong><%= @merchant.merchant_name %> - £</strong><%=sprintf '%.2f', @total_spend %></p>
</div>
<a href="/merchants/<%= @merchant.id%>/edit"><button class="edit_button button">EDIT</button></a>
<% if @count == 0 %>
<form action="/merchants/<%=@merchant.id%>/delete" method="post">
<button class="delete_button button" type="submit" value="DELETE">DELETE</button>
</form>
<% end %>

</div>