<h1>Merchant Details</h1>
<div class="container">
<p>Merchant name: <%= @merchant.merchant_name %></p>
<p class="button"><a href="/merchants/<%= @merchant.id%>/edit">EDIT</a></p>
<form action="/merchants/<%=@merchant.id%>/delete" method="post">
<button class="delete button" type="submit" value="DELETE">DELETE</button>
</form>
</div>