<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Bahiana" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title></title>
</head>
<body>
<div class="logo" >
<img src="/img/logo.png">
</div>
<nav>
<ul>
<li><a href="/transactions/new">New Transaction</a></li>
<li><a href="/tags/all">Tags</a></li>
<li><a href="/transactions/all">Transaction</a></li>
<li><a href="/merchants/all">Merchants</a></li>
</ul></nav>
<%= yield %>
</body>
</html>