<h1>Edit tag Order</h1>
<div class="container">
<form action="/tags/<%= @tag.id %>" method="post">
 <label>
 Tag Name
   <input type="text" name="tag_name" value="<%= @tag.tag_name() %>" >
 </label>
  <button class="button update" type='submit' value="Update">UPDATE</button>
 </form>
 </label>