
<h1>Create New Tag</h1>
<div class="container">
<form action="/tags/new" method="post">
<div class="form">
  <span class="form-item">Tag:</span>
  <input class="form-field" name="tag_name">
</div>
<button class="submit_button button" type="submit" value="new tag">SUBMIT</button>
</form>
</div>