<h1>Tag Details</h1>
<div class="container">
<div class="cell">
<p><strong> <%= @tag.tag_name %> </strong> - £<%= sprintf '%.2f', @total_spend %></p>
</div>
<a href="/tags/<%= @tag.id%>/edit"><button class="edit_button button">EDIT</button></a>
<form action="/tags/<%=@tag.id%>/delete" method="post">
<% if @count == 0 %>
<button class="delete_button button" type="submit" value="DELETE">DELETE</button>
<% end %>
</form>
</div>