<h1>List all Transactions.</h1>
<div class="container">
 <% for transaction in @transactions %>
 <div class="cell">
 <p>ID: <%= transaction.id %></p>
 <p>transaction Amount: <%= transaction.transaction_amount %></p>
 </div>
<%end%>
</div>