<h1>List all Transactions.</h1>
<div>
  Total Spend: <%= @total_spend %>
</div>
<div class="container">
 <% for transaction in @transactions %>
 <a href="/transactions/<%= transaction.id%>">
 <div class="cell">
 <p>ID: <%= transaction.id %></p>
 <p>transaction Amount: <%= transaction.transaction_amount %></p>
 </div>
 </a>
<%end%>
</div>
