<h1>NEW Transaction</h1>
<div class="container">
<form action="/transactions/new" method="post">
  <label>
    amount:
  <input type="text" name="transaction_amount">
  </label>
  <label>
    details:
  <input type="text" name="item_description">
  </label>
  <label>
    Select a tag
  <select name="tag_id">
  <% for tag in @tags %>
    <option value="<%= tag.id%>"><%= tag.tag_name%></option>
    <% end %>
  </select> 
  </label> 
  <label>
  select a merchant
  <select name="merchant_id">
  <% for merchant in @merchants %>
    <option value="<%= merchant.id%>"><%= merchant.merchant_name%></option>
    <% end %>
  </select>
  </label>
  <button class="button" type="submit" value="something">SUBMIT</button>
  </form>